{% load static %}
<div class="footer_section layout_padding margin_top_90">
        <div class="container">
           <div class="footer_logo_main">
              
              <div class="social_icon">
                 <ul>
                    <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                    <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                    <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                 </ul>
              </div>
           </div>
           <div class="footer_section_2">
              <div class="row">
                 <div class="col-lg-3 col-sm-6">
                    <h4 class="adderss_text">Sobre nosotros</h4>
                    <p class="ipsum_text">Empresa familiar con experiencia y pasión dedicada a los vehículos mecánicos</p>
                 </div>
                 <div class="col-lg-3 col-sm-6">
                    <h4 class="adderss_text">Menú</h4>
                    <div class="footer_menu">
                       <ul>
                          <li><a href="index.html">Inicio</a></li>
                          <li><a href="hora.html">Agendar hora</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-lg-3 col-sm-6">
                    <h4 class="adderss_text">Otros enlaces</h4>
                    <div class="footer_menu">
                       <ul>
                          <li><a href="#">Proveedores</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-lg-3 col-sm-6">
                    <h4 class="adderss_text">Contact</h4>
                    <div class="call_text"><img src="{% static 'images/map-icon.png' %}"><span class="paddlin_left_0"><a href="#">La Florida 1540, Santiago de Chile</a></span></div>
                    <div class="call_text"><img src="{% static 'images/call-icon.png' %}"><span class="paddlin_left_0"><a href="#">+967263517</a></span></div>
                    <div class="call_text"><img src="{% static 'images/mail-icon.png' %}"><span class="paddlin_left_0"><a href="#">serviexpress@gmail.com</a></span></div>
                 </div>
              </div>
           </div>
        </div>
     </div>